:root {
    --off-white: #ddd;
    --light-gray: rgb(177, 177, 177);
    --off-black: #222;
}
body {
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    background: var(--off-black);

    display: grid;
    grid: "network network timedag timedag" 5fr
          "controls spacetree spacetree spacetree" 1fr
          / 1fr 1fr 1fr 1fr;
}
body > svg {
    width: 100%;
    height: 100%;
}
.network, .network-label {
    grid-area: network;
}
.dag, .dag-label {
    grid-area: timedag;
}
.controls {
    grid-area: controls;
}
.spacetree, .spacetree-label {
    grid-area: spacetree;
}
.label-container {
    padding: 5px;
    margin: 0 auto auto auto;
    z-index: 3;
}
.label-container p {
    margin: 0;
    font-size: 16px;
}
.label-container .label-title {
    font-weight: bold;
}
.label-container .selected-peer {
    background-color: rgb(50, 130, 225);
    padding: 1px 1ch;
    border-radius: 2em;
}
.controls {
    padding-left: 5px;
    display: grid;
    grid: auto repeat(5, 1fr)
          / auto 1fr auto;
    grid-column-gap: 2px;
    align-items: center;
}
.controls label,
.label-container p {
    color: var(--off-white);
    font-family: Roboto, sans-serif;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
}
.controls .input-name {
    margin-right: 5px;
}
.controls input {
    cursor: pointer;
}
.controls #play-pause {
    color: var(--off-white);
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    grid-area: 1 / 1 / 2 / -1;
    margin: 0 auto;
}
svg {
    z-index: 2;
    pointer-events: none;
}
svg.network .nodes .node-group {
    pointer-events: painted;
}

/* Network SVG Styling*/
/* Network line shadows */
svg.network .links > g > line:first-child {
    stroke: rgba(30, 30, 30, 0.5);
    stroke-width: 6;
}
svg.network .links > g > line:last-child {
    stroke: var(--off-white);
    stroke-width: 4;
}
svg.network .nodes > g > circle {
    --edit-blip-color: #36322c;
    --fill-color: #c8dcf0;
    stroke-width: 3;
    fill: var(--fill-color);
    stroke: #786e60;
    cursor: pointer;

    animation-timing-function: cubic-bezier(.22,.61,.36,1);
    animation-duration: 2s;
    
}
svg.network .nodes g.selected > circle {
    stroke: rgb(50, 130, 225);
}
.edit-blip-1 {animation-name: edit-blip-1;}
.edit-blip-2 {animation-name: edit-blip-2;}
@keyframes edit-blip-1 {
    from { fill: var(--edit-blip-color); }
    to   { fill: var(--fill-color);      }
}
@keyframes edit-blip-2 {
    from { fill: var(--edit-blip-color); }
    to   { fill: var(--fill-color);      }
}
g.selected .node-label-background {
    fill: rgb(50, 130, 225);
    opacity: 1;
}
.node-label-background {
    fill: var(--off-black);
    opacity: 0.5;
    transition: 0.1s fill ease-out,
                0.1s opacity ease-out;
}
.node-label {
    font-family: Roboto, sans-serif;
    fill: white;
    font-size: 10pt;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
svg.network .fissure,
svg.network .fissure * {
    cursor: default;
}
svg.network .fissure text.fissure-sign {
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
    fill: white;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
/* TimeDAG styling */
svg.dag.disabled {
    filter: blur(2px) grayscale(85%) brightness(0.7);
}
svg.dag .dag-line {
    fill: none;
    stroke: var(--light-gray);
}
svg.dag .dag-arrow {
    fill: var(--off-white);
}
svg.dag g.nodes {
    stroke: #4e6069;
}
svg.dag .dag-version {
    fill: #dadae0;
}
svg.dag .dag-version.acked {
    fill: #42c260;
}
svg.dag .dag-version.acked.frozen {
    fill: #f7e136;
}
.fissures {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}
.fissures .dag-select {
    width: var(--fissure-select-width);
    transform-origin: right;
    flex: 1 1 auto;
    transition: 0.08s transform ease-out;
    --fissure-select-width: 40px;
    --slide-ratio: 1.5
}
.fissures .dag-select.selected {
    transform: scaleX(var(--slide-ratio));
}

/* Spacetree */
svg.spacetree g.links {
    stroke: var(--off-white);
    stroke-width: 3;
    stroke-linecap: square;
}

svg.spacetree path.ins-box {
    fill: var(--off-white);
    stroke: #4e6069;
    stroke-width: 3;
}
svg.spacetree text.ins-text {
    fill: var(--off-black);
    font-family: Roboto, sans-serif;
}

svg.spacetree .ins.deleted path.ins-box {
    fill: #888;
}
svg.spacetree .ins line.strikethrough {
    stroke: none;
    fill: none;
    stroke-width: 3;
    stroke-linecap: square;
}
svg.spacetree .ins.deleted line.strikethrough {
    stroke: red;
}
svg.spacetree .dummy-text {
    visibility: hidden;
}
@media screen and (any-pointer: fine) {
    .fissures .dag-select {
        --fissure-select-width: 20px;
        --slide-ratio: 2;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    body {
        grid: "network" 2fr
              "timedag" 2fr
              "spacetree" 1fr
              "controls" 1fr
              / auto;
    }
    .controls input {
        height: 10px;
    }
}
@media screen and (max-width: 400px) {
    .controls label {
        font-size: 13px;
    }
}